#deliver,#reserve,#checkout,.hidden{
    display: none;
}
.nav{
    background-color:darkgray;
    margin-bottom: 0;
}
.all{
    padding-top:2%; 
    text-align: center;
}
.nav>li>a{
    color: aliceblue;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{
    background-color: white;
}
#summary{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    text-align: left;
}
.sum{
    display: inherit;
    width: 50%;
}
